<!DOCTYPE HTML>
<html>
<head>
<title>KODALINE</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>
	<div class="page-wrap">


		<!-- Main -->
		<section id="main">

			<div id="login-bar">
				<div class="login-informacoes">
					<table class="login-nav" id="login-nav">
						<tr>
							<td>
								<label>Login:</label>
								<input name="login-nome" id="login-nome" type="text" placeholder="Informe seu email">
							</td>
							<td>
								<label>Senha:</label>
								<input name="login-senha" id="login-senha" type="password" placeholder="Informe sua senha">	
							</td>
						</tr>
					</table>
				</div>	
			</div>
			
			<!-- Contact -->
			<div id="cadastro">
				<!-- Social -->
				<div class="apresentacao column">
					<h3>Sobre nós</h3>
					<p>Mus sed interdum nunc dictum rutrum scelerisque erat a
						parturient condimentum potenti dapibus vestibulum condimentum per
						tristique porta. Torquent a ut consectetur a vel ullamcorper a
						commodo a mattis ipsum class quam sed eros vestibulum quisque a eu
						nulla scelerisque a elementum vestibulum.</p>
					<p>Aliquet dolor ultricies sem rhoncus dolor ullamcorper
						pharetra dis condimentum ullamcorper rutrum vehicula id nisi vel
						aptent orci litora hendrerit penatibus erat ad sit. In a semper
						velit eleifend a viverra adipiscing a phasellus urna praesent
						parturient integer ultrices montes parturient suscipit posuere
						quis aenean. Parturient euismod ultricies commodo arcu elementum
						suspendisse id dictumst at ut vestibulum conubia quisque a
						himenaeos dictum proin dis purus integer mollis parturient eros
						scelerisque dis libero parturient magnis.</p>
					<h3>Siga Kodaline nas redes sociais</h3>
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span
								class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span
								class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span
								class="label">Instagram</span></a></li>
					</ul>
				</div>

				<!-- Form -->
				<div class="column">
					<h3>Ainda não é cadastrado?</h3>
					<div id="formulario-cadastro">
						<div class="field half first">
							<label for="name-cadastro" >Nome</label>
							<input name="name-cadastro" id="name-cadastro"
								type="text" placeholder="Nome" required="required">
							<p id="nome-erro">
						</div>
						<br>
						<div class="field half">
							<label for="email-cadastro">Email</label>
							<input name="email-cadastro" id="email-cadastro"
								type="email" placeholder="Email" required="required">
								<p id="email-erro">
						</div>
						<br>
						<div class="field half first">
							<label for="senha-cadastro">Senha</label>
							<input name="senha-cadastro" id="senha-cadastro"
								type="password" placeholder="Senha" required="required">
								<p id="senha-erro">
						</div>
						<br>
						<div class="field half">
							<label for="confirmacao-senha">Confirme sua senha</label>
							<input name="confirmacao-senha" id="confirmacao-senha"
								type="password" placeholder="Digite sua senha novamente" required="required">
							<p id="csenha-erro">
						</div>
						<br>
						<button onclick="cadastrarFotografo()">Cadastrar</button>
					</div>
				</div>

			</div>

			<!-- Footer -->
			<footer id="footer">
				<div class="copyright">&copy; KODALINE</div>
			</footer>
		</section>
	</div>
	
	<!-- Scripts -->
	<script src="assets/js/login.js"></script>

</body>
</html>